.header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  width: 99%;
  height: 80px;
  position: fixed;
  border-bottom: 1px solid black;
  z-index: 5;
}

.logo{
  display: flex;
  align-items: center;
  font-size: 8px;
  padding-left: 20px;
  flex-grow: 1;

}

.logo h1{
  color: mediumaquamarine;
  display: inline;
  padding-left: 10px;
}

nav{
  padding-right: 40px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

a{
  color: black;
}

.main-content {
  display: flex;
  border: 1px solid black;
  padding-top: 100px;
  margin-right: 32px;
}

.column-large {
  display: flex;
  width: 630px;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}

.headline1{
  border: 1px solid black;
}

.orca{
  border: 3px solid black;
}

.headline2{
  font-weight: bold;
  font-size: 24px;
}

.headline3{
  border: 1px solid black;
}

.headline4{
  font-weight: bold;
  font-size: 24px;
}

.burger{
  border: 3px solid black;
}

.headline5{
  border: 1px solid black
}



.column-medium{
  border: 1px solid black;
}




.column-small{
  border: 1px solid black;
}
